<footer>
    <div class="container footer">
      <div class="social">
        <p>Redes Sociais</p>
        <div class="icons">
          <a href="#"><img src="facebook.svg" alt="Facebook" /></a>
          <a href="#"><img src="instagram.svg" alt="Instagram" /></a>
          <a href="#"><img src="twitter-x.svg" alt="Twitter" /></a>
          <a href="#"><img src="linkedin.svg" alt="LinkedIn" /></a>
        </div>
      </div>
      <p>&copy; 2025 BoAção. Todos os direitos reservados.</p>
    </div>
</footer>
