<footer>
  <div class="container footer">
    <div class="social">
      <p>Redes Sociais</p>
      <div class="icons">
        <a style="cursor: pointer"><img src="facebook.svg" alt="Facebook" /></a>
        <a style="cursor: pointer"><img src="instagram.svg" alt="Instagram" /></a>
        <a style="cursor: pointer"><img src="twitter-x.svg" alt="Twitter" /></a>
        <a style="cursor: pointer"><img src="linkedin.svg" alt="LinkedIn" /></a>
      </div>
    </div>
    <p>&copy; 2025 BoAção. Todos os direitos reservados.</p>
  </div>
</footer>
