<app-header></app-header>

<div class="form">
  <h1 class="page-title">Gestão de Voluntários</h1>

  <!-- SEGMENTED CONTROL -->
  <div class="tabs-wrapper">
    <button class="tab active">Voluntários</button>
  </div>

  <!-- === INÍCIO DA LISTA DE VOLUNTÁRIOS === -->
  <ul class="lista-voluntarios">
    <li *ngFor="let v of paginatedVoluntarios" class="voluntario-item">
      <!-- detalhes -->
      <div class="detalhes">
        <h3 class="nome">{{ v.nomeCompleto }}</h3>
        <p>Cidade: {{ v.cidade }}</p>
        <p>Habilidade: {{ v.tags.join(", ") }}</p>

        <!-- para status PENDENTE -->
        <p *ngIf="v.statusCandidatura === 'PENDENTE'"></p>

        <!-- para status REALIZADO
        <p *ngIf="v.status === 'REALIZADO'">
          Encerrado {{ v.dataEncerramento | date: 'dd/MM/yyyy' }}
        </p>
        <p *ngIf="v.status === 'REALIZADO'">
          Projeto: {{ v.projeto }}
        </p>  -->
      </div>

      <!-- botões de ação -->
      <div class="lista">
        <button
          *ngIf="v.statusCandidatura === 'PENDENTE'"
          class="btn-acao"
          (click)="aprovar(v.id)"
        >
          Aceitar
        </button>
        <button
          *ngIf="v.statusCandidatura === 'PENDENTE'"
          class="btn-acao"
          (click)="rejeitar(v.id)"
        >
          Rejeitar
        </button>

        <button
          *ngIf="v.statusCandidatura === 'APROVADO'"
          class="btn-acao"
          (click)="avaliar(v.id)"
        >
          Avaliar
        </button>

        <!--
        <button
          *ngIf="v.statusCandidatura === 'APROVADO'"
          class="btn-acao"
          (click)="encerrar(v)"
        >
          Encerrar
        </button>
        -->
      </div>

      <!-- badge de status -->
      <span
        class="badge"
        [ngClass]="{
          'status-pendente': v.statusCandidatura === 'PENDENTE',
          'status-realizado': v.statusCandidatura === 'REALIZADO',
          'status-aprovado': v.statusCandidatura === 'APROVADO',
          'status-rejeitado': v.statusCandidatura === 'REJEITADO'
        }"
      >
        {{ v.statusCandidatura }}
      </span>
    </li>
  </ul>

  <!-- paginação -->
  <div class="wrapper-paginacao">
    <button
      class="page-btn"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      ‹
    </button>
    <button
      *ngFor="let p of pages"
      class="page-btn"
      [class.active]="p === currentPage"
      (click)="goToPage(p)"
    >
      {{ p }}
    </button>
    <button
      class="page-btn"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      ›
    </button>
  </div>
</div>

<app-modal-avaliar-voluntario
  *ngIf="showAvaliarModal"
  (onClose)="fecharModal()"
>
</app-modal-avaliar-voluntario>

<app-footer></app-footer>
