<app-header></app-header>

<div class="form">
  <h1 class="page-title">Gestão de Voluntários</h1>

  <!-- SEGMENTED CONTROL -->
  <div class="tabs-wrapper">
    <button class="tab active">Voluntários</button>
  </div>

  <!-- === INÍCIO DA LISTA DE VOLUNTÁRIOS === -->
  <ul class="lista-voluntarios">
    <li *ngFor="let v of paginatedVoluntarios" class="voluntario-item">
      <!-- detalhes -->
      <div class="detalhes">
        <h3 class="nome">{{ v.nomeCompleto }}</h3>
        <p>Cidade: {{ v.cidade }}</p>
        <p>Habilidade: {{ v.tags.join(', ') }}</p>

        <!-- para status PENDENTE -->
        <p *ngIf="v.statusCandidatura === 'PENDENTE'"></p>

        <!-- para status REALIZADO
        <p *ngIf="v.status === 'REALIZADO'">
          Encerrado {{ v.dataEncerramento | date: 'dd/MM/yyyy' }}
        </p>
        <p *ngIf="v.status === 'REALIZADO'">
          Projeto: {{ v.projeto }}
        </p>  -->
      </div>

      <!-- botões de ação -->
      <div class="lista">
        <button *ngIf="v.statusCandidatura === 'PENDENTE'" class="btn-acao" (click)="aprovar(v.id)">
          Aceitar
        </button>
        <button
          *ngIf="v.statusCandidatura === 'PENDENTE'"
          class="btn-acao"
          (click)="rejeitar(v.id)"
        >
          Rejeitar
        </button>

        <div class="acoes">
          <!-- se não tiver avaliação cadastrada (avaliacaoId é null ou undefined) -->
          <button
            *ngIf="!v.avaliacaoId && v.statusCandidatura !== 'PENDENTE'"
            class="btn-acao"
            (click)="avaliar(v)"
          >
            Avaliar
          </button>

          <!-- se já tiver avaliação cadastrada (avaliacaoId não é null) -->
          <button *ngIf="v.avaliacaoId" class="btn-acao" (click)="verResumo(v.historicoId)">
            Resumo da Avaliação
          </button>
        </div>
      </div>

      <!-- badge de status -->
      <span
        class="badge"
        [ngClass]="{
          'status-pendente': v.statusCandidatura === 'PENDENTE',
          'status-realizado': v.statusCandidatura === 'REALIZADO',
          'status-aprovado': v.statusCandidatura === 'APROVADO',
          'status-rejeitado': v.statusCandidatura === 'REJEITADO'
        }"
      >
        {{ v.statusCandidatura }}
      </span>
    </li>
  </ul>

  <!-- paginação -->
  <div class="wrapper-paginacao">
    <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
    <button
      *ngFor="let p of pages"
      class="page-btn"
      [class.active]="p === currentPage"
      (click)="goToPage(p)"
    >
      {{ p }}
    </button>
    <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
  </div>
</div>

<!-- Modal Avaliar/Resumo -->
<app-modal-avaliar-voluntario
  *ngIf="showModal"
  [voluntario]="selectedVoluntario"
  [readonlyMode]="readonlyMode"
  [initialAvaliacao]="initialAvaliacao"
  (onSubmit)="handleAvaliacao($event)"
  (onClose)="showModal = false"
>
</app-modal-avaliar-voluntario>

<app-footer></app-footer>
