<app-header />

  <div class="container">
    <div class="custom-card p-5">
      <div class="row align-items-center">
        <div class="col-lg-5 text-center">
          <div class="icon-box mb-3">
            <img src="maos.png" alt="Mãos dadas">
          </div>
          <p class="mb-0" style="font-size: 1.08rem;">
            Somos uma plataforma criada em 2025 com o objetivo de conectar voluntários e organizações não governamentais (ONGs).<br>
            Nosso site nasceu para facilitar a aproximação entre pessoas dispostas a fazer a diferença e as instituições que precisam de apoio.<br>
            Acreditamos que, juntos, podemos gerar um impacto social significativo, transformando vidas e comunidades. Nossa missão é promover um ambiente onde voluntários possam encontrar oportunidades de contribuir com suas habilidades e ONGs possam encontrar o apoio que tanto necessitam. Seja para ajudar em projetos locais ou em causas sociais, estamos aqui para unir forças e criar um mundo mais solidário e colaborativo.
          </p>
        </div>
        <div class="col-lg-7 text-center">
          <img src="foto doacao ajuda 1.png" alt="Mãos segurando coração" class="img-fluid rounded-3 shadow-sm">
        </div>
      </div>
    </div>
    <button class="custom-btn" routerLink="">Quer se juntar?</button>
  </div>
<app-footer />