<header class="header">
  <div class="header__logo">
    <img class="header__logo-icon" src="logo.png" alt="Logo BoAção" />
    <h1 class="header__logo-title" (click)="logo()">BoAção</h1>
  </div>
  <nav class="header__nav" [class.is-open]="isMenuOpen">
    @if(ongLogado ){
    <app-header-menu logado="ong" (buttonLogout)="logout()"></app-header-menu>
    } @else if(voluntarioLogado){
    <app-header-menu logado="voluntario" (buttonLogout)="logout()"></app-header-menu>
    } @else {
    <app-header-menu logado="deslogado"></app-header-menu>
    }
  </nav>
  <button class="header__menu-toggle" (click)="toggleMenu()">
    <span *ngIf="!isMenuOpen" style="color: white">☰</span>
    <span *ngIf="isMenuOpen" style="color: white">✕</span>
  </button>
</header>
