<app-header />

<div class="container2">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="login-container">
        <h1>Acesse sua Conta</h1>

        <!-- Error container -->
        <div class="error-container">
          <div
            class="alert alert-danger"
            [class.visible]="errorMessage"
            role="alert"
            *ngIf="errorMessage"
          >
            {{ errorMessage }}
          </div>
        </div>
        <!-- Form de login-->
        <form class="conteudo-form" (ngSubmit)="submitLogin()">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              [(ngModel)]="loginModel.username"
              name="username"
              placeholder="Digite seu email"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input
              type="password"
              [(ngModel)]="loginModel.password"
              name="password"
              placeholder="Digite sua senha"
              class="form-control"
              required
            />
          </div>

          <button type="submit" class="btn btn-login">
            <i class="fas fa-sign-in-alt"></i> Entrar
          </button>
        </form>

        <a class="esqueceu-senha" (click)="openForgotPasswordModal()">Esqueceu a senha?</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal de recuperação de senha -->
<!-- Modal de recuperação de senha -->
<div class="modal-backdrop" *ngIf="showForgotPasswordModal" (click)="closeModal()"></div>

<div class="modal" *ngIf="showForgotPasswordModal">
  <div class="modal-content">
    <div class="modal-body">
      <p>Digite seu email para receber o link de recuperação:</p>

      <input type="email" [(ngModel)]="recoveryEmail" placeholder="Seu email" class="modal-input" />
    </div>

    <div class="modal-actions">
      <div>
        <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn-submit" (click)="submitForgotPassword()">Enviar</button>
      </div>
      <div class="error-message" *ngIf="forgotPasswordError">
        {{ forgotPasswordError }}
      </div>
    </div>
  </div>
</div>
