<app-header></app-header>

<div class="container py-5">
  <!-- Título -->
  <h1 class="text-center mb-4 fw-semibold">Buscar Atividades</h1>

  <div class="row justify-content-center mb-4">
    <!-- Filtros e busca -->
    <form class="row g-3 align-items-end justify-content-center mb-4">
      <!-- Campo de busca -->
      <div class="col-12 col-md-4">
        <label for="busca" class="form-label">Cidade ou Estado</label>
        <input
          id="busca"
          type="text"
          class="form-control"
          placeholder="Ex: São Paulo, Rio..."
          [(ngModel)]="busca"
          name="busca"
        />
      </div>

      <!-- Select de Tag -->
      <div class="col-12 col-md-3">
        <label for="tag" class="form-label">Tag</label>
        <select class="form-select" [(ngModel)]="filtroTag" name="filtroTag" id="tag">
          <option value="">Todas as Tags</option>
          <option *ngFor="let tag of tags" [value]="tag.nome">{{ tag.nome }}</option>
        </select>
      </div>

      <!-- Checkboxes -->
      <div class="col-12 col-md-5">
        <label class="form-label d-block">Status da Candidatura</label>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="filtrosStatus.APROVADO"
            name="aprovado"
            (change)="aplicarFiltros()"
            id="aprovado"
          />
          <label class="form-check-label" for="aprovado">Aprovado</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="filtrosStatus.REJEITADO"
            name="rejeitado"
            (change)="aplicarFiltros()"
            id="rejeitado"
          />
          <label class="form-check-label" for="rejeitado">Rejeitado</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="filtrosStatus.PENDENTE"
            name="pendente"
            (change)="aplicarFiltros()"
            id="pendente"
          />
          <label class="form-check-label" for="pendente">Pendente</label>
        </div>
      </div>
    </form>

    <!-- Cards -->
    <div class="row justify-content-center g-4">
      <div class="col-12 col-md-6 col-lg-4 d-flex" *ngFor="let atividade of atividadesPaginadas">
        <div class="card shadow-sm rounded-4 w-100">
          <div class="card-body d-flex flex-column py-3">
            <h5 class="card-title fw-bold mb-1 text-start">{{ atividade.nome }}</h5>
            <h6 class="card-subtitle mb-2 text-secondary text-start mt-2" style="font-size: 1rem">
              #{{ atividade.titulo }}
            </h6>
            <ul class="list-unstyled mb-2">
              <li class="mb-1 d-flex align-items-center">
                <i class="bi bi-geo-alt-fill text-secondary me-2"></i>
                <span class="text-secondary">{{ atividade.enderecoCompleto }}</span>
              </li>
              <li class="mb-1 d-flex align-items-center">
                <i class="bi bi-clock-fill text-secondary me-2"></i>
                <span
                  >{{ atividade.cargaHorariaDiaria }} - {{ atividade.periodo | titlecase }}</span
                >
              </li>
              <li
                class="mb-1 d-flex align-items-center"
                *ngIf="atividade.statusAtividade === 'ANDAMENTO'"
              >
                <i class="bi bi-patch-check me-2"></i>
                @if (atividade.possuiCertificacao) { <span>Certificado de voluntariado</span>}
              </li>
            </ul>
            <p class="card-text text-start mb-2">
              {{ atividade.descricao }}
            </p>
            <div class="mt-auto d-flex w-100">
              @if (atividade.statusCandidatura === null) {
              <button
                class="btn btn-primary ms-auto px-3 py-1 rounded-3 fw-semibold"
                (click)="participar(atividade.id)"
              >
                Participar
              </button>
              } @if(atividade.statusCandidatura === "APROVADO") {
              <button
                class="btn btn-success ms-auto px-3 py-1 rounded-3 fw-semibold"
                disabled="true"
              >
                Participando
              </button>
              } @if(atividade.statusCandidatura === "REJEITADO") {
              <button
                class="btn btn-danger ms-auto px-3 py-1 rounded-3 fw-semibold"
                disabled="true"
              >
                Rejeitado
              </button>
              } @if(atividade.statusCandidatura === "PENDENTE") {
              <button
                class="btn btn-warning ms-auto px-3 py-1 rounded-3 fw-semibold"
                disabled="true"
              >
                Aguardando
              </button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Paginação -->
    <nav *ngIf="totalPaginas.length > 1" class="mt-4">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          [class.disabled]="paginaAtual === 1"
          (click)="paginaAtual = paginaAtual - 1"
        >
          <button class="page-link">Anterior</button>
        </li>

        <li
          class="page-item"
          *ngFor="let pagina of totalPaginas"
          [class.active]="pagina === paginaAtual"
          (click)="paginaAtual = pagina"
        >
          <button class="page-link">{{ pagina }}</button>
        </li>

        <li
          class="page-item"
          [class.disabled]="paginaAtual === totalPaginas.length"
          (click)="paginaAtual = paginaAtual + 1"
        >
          <button class="page-link">Próxima</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<app-footer></app-footer>
