<app-header/>

<div class="container">
  <h2>Cadastro de Voluntário</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label>Nome:
      <input type="text" formControlName="nome" (keydown)="permitirSomenteLetras($event)"/>
      <div class="mensagem-erro" *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched">
        <span *ngIf="form.get('nome')?.errors?.['required']">Nome é obrigatório.</span>
        <span *ngIf="form.get('nome')?.errors?.['pattern']">O nome deve conter apenas letras.</span>
      </div>      
    </label>    

    <label>Email:
      <input type="email" formControlName="email" />
      <div class="mensagem-erro" *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
        <span *ngIf="form.get('email')?.errors?.['required']">Email é obrigatório.</span>
        <span *ngIf="form.get('email')?.errors?.['pattern']">Formato de email inválido.</span>
      </div>
    </label>
    
    <label>CPF:
      <input type="text" inputmode="numeric" mask="000.000.000-00" formControlName="cpf" />
      <div class="mensagem-erro" *ngIf="form.get('cpf')?.invalid && form.get('cpf')?.touched">
        <span *ngIf="form.get('cpf')?.errors?.['required']">CPF é obrigatório.</span>
        <span *ngIf="form.get('cpf')?.errors?.['pattern']">Formato de CPF inválido.</span>
      </div>
    </label>

    <label>Telefone:
      <input type="text" inputmode="numeric" mask="(00) 00000-0000" formControlName="telefone" />
      <div class="mensagem-erro" *ngIf="form.get('telefone')?.invalid && form.get('telefone')?.touched">
        <span *ngIf="form.get('telefone')?.errors?.['required']">Telefone é obrigatório.</span>
        <span *ngIf="form.get('telefone')?.errors?.['pattern']">Formato de telefone inválido.</span>
      </div>
    </label>

    <label>Data de Nascimento:
      <input type="date" formControlName="dataNascimento" />
      <div class="mensagem-erro" *ngIf="form.get('dataNascimento')?.invalid && form.get('dataNascimento')?.touched">
        <span *ngIf="form.get('dataNascimento')?.errors?.['required']">Data de nascimento é obrigatória.</span>
        <span *ngIf="form.get('dataNascimento')?.errors?.['menorDeIdade']">Você deve ter pelo menos 18 anos.</span>
      </div>
    </label>

    <label>Senha:
      <input type="password" autocomplete="new-password" formControlName="senha" />
      <div class="mensagem-erro" *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched">
        <span *ngIf="form.get('senha')?.errors?.['required']">Senha é obrigatória.</span>
        <span *ngIf="form.get('senha')?.errors?.['minlength']">Senha deve ter ao menos 6 caracteres.</span>
      </div>
    </label>

    <label>Confirmar Senha:
      <input type="password" autocomplete="new-password" formControlName="confirmarSenha" />
      <div class="mensagem-erro" *ngIf="form.get('confirmarSenha')?.touched && form.errors?.['senhasDiferentes']">
        As senhas não coincidem.
      </div>
    </label>

    <button type="submit" class="btn-submit" [disabled]="form.invalid">Cadastrar</button>

  </form>
  
  <div class="login-redirect">
    <p>Já possui cadastro?<br> 
      <button routerLink="/login">ENTRAR</button>
    </p>
  </div>  
</div>

<app-footer />

<!-- Modal de Sucesso/Erro -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-box">
 
    <h2 *ngIf="msg" style="color: green;">{{ msg }}</h2>
    <h2 *ngIf="erro" style="color: black;">{{ erro }}</h2>
    
    <button class="btn-x" *ngIf="erro" (click)="fecharModal()">x</button>

    <button type="button" class="btn-close" *ngIf="erro" (click)="fecharModal()">OK</button>
  </div>
</div>