<app-header />

<div class="perfil-container">
    <h1 class="titulo">Meu Perfil</h1>

    <div class="perfil-conteudo">
        <!-- Coluna Esquerda -->
        <div class="perfil-esquerda">
            <h2>Bem-vindo, Gustavo</h2>

            <p><strong>Nome:</strong><br>Gustavo Silva Perez</p>
            <hr>

            <p><strong>Cidade:</strong><br>São Paulo - SP</p>
            <hr>

            <p><strong>Minhas Participações:</strong><br>2</p>
            <hr>

            <p><strong>Minha Avaliação:</strong></p>
            <div class="estrelas">
                ★ ★ ★ ★ ☆
            </div>
            <hr>

            <div class="botoes">
                <button>Editar Perfil</button>
                <button>Descrição Habilidades</button>
                <button>Cadastrar Habilidades</button>
            </div>

            <div class="habilidades">
                <h3>Minhas Habilidades:</h3>
                <ul>
                    <li># Educação e Mentoria</li>
                    <li># Proteção Animal</li>
                    <li># Produção e Artesanato</li>
                </ul>
            </div>
        </div>

        <!-- Coluna Direita -->
        <div class="perfil-direita">
            <h2>Minha Missão</h2>
            <p>
                Promover o desenvolvimento social e humano através de ações educativas,
                culturais e assistenciais, contribuindo para a construção de uma sociedade
                mais justa e igualitária.
            </p>
            <img src="https://static.vecteezy.com/ti/fotos-gratis/t1/7104488-close-up-top-view-de-pessoas-colocando-as-maos-junto-conceito-unidade-de-maos-e-trabalho-em-equipe-foto.jpg"
                alt="Mãos unidas" />
        </div>
    </div>
</div>


<footer>
    <p>© 2025 BoAção. Todos os direitos reservados.</p>
</footer>
<app-footer></app-footer>