<app-header />

<div class="perfil-container" *ngIf="perfil">
  <h1 class="titulo">Meu Perfil</h1>

  <div class="perfil-conteudo">
    <!-- Coluna Esquerda -->
    <div class="perfil-esquerda">
      <h2>Bem-vindo, {{ perfil.firstName }}</h2>

      <p><strong>Nome:</strong><br />{{ perfil.fullName }}</p>
      <hr />

      <p><strong>Cidade:</strong><br />{{ perfil.cidade }} - {{ perfil.estado }}</p>
      <hr />

      <p><strong>Minhas Participações:</strong><br />2</p>
      <hr />

      <p><strong>Minha Avaliação:</strong></p>
      <div class="estrelas">★ ★ ★ ★ ☆</div>
      <hr />

      <div class="botoes">
        <button class="btn-editar" [routerLink]="'/dados-voluntario'">Editar Perfil</button>
        <button [routerLink]="'/detalhes-habilidades'" [queryParams]="{ tagIdsString}">
          Cadastrar Habilidades
        </button>
      </div>

      <!-- TODO renderizar tags -->
      <div class="habilidades">
        <h3>Minhas Habilidades:</h3>
        <ul>
          <li *ngFor="let tag of perfil.tags; let i = index"># {{ tag.nome }}</li>
        </ul>
      </div>
    </div>

    <!-- Coluna Direita -->
    <div class="perfil-direita">
      <h2>Minha Missão</h2>
      <p>
        Promover o desenvolvimento social e humano através de ações educativas, culturais e
        assistenciais, contribuindo para a construção de uma sociedade mais justa e igualitária.
      </p>
      <img
        src="https://static.vecteezy.com/ti/fotos-gratis/t1/7104488-close-up-top-view-de-pessoas-colocando-as-maos-junto-conceito-unidade-de-maos-e-trabalho-em-equipe-foto.jpg"
        alt="Mãos unidas"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
