<app-header />

<div class="container">
  <h2>Cadastro de ONG</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Nome da Entidade:
      <input type="text" formControlName="nomeOng" />
      <div class="mensagem-erro" *ngIf="form.get('nomeOng')?.invalid && form.get('nomeOng')?.touched">
        <span *ngIf="form.get('nomeOng')?.errors?.['required']">Nome é obrigatório.</span>
      </div>
    </label>

    <label>Email:
      <input type="email" formControlName="email" />
      <div class="mensagem-erro" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <span *ngIf="form.get('email')?.errors?.['required']">Email é obrigatório.</span>
        <span *ngIf="form.get('email')?.errors?.['pattern']">Formato de email inválido.</span>
      </div>
    </label>

    <label>CNPJ:
      <input type="text" inputmode="numeric" formControlName="cnpj" mask="00.000.000/0000-00" />
      <div class="mensagem-erro" *ngIf="form.get('cnpj')?.invalid && form.get('cnpj')?.touched">
        <span *ngIf="form.get('cnpj')?.errors?.['required']">CNPJ é obrigatório.</span>
        <span *ngIf="form.get('cnpj')?.errors?.['pattern']">Formato de CNPJ inválido.</span>
      </div>
    </label>

    <label>Telefone:
      <input type="text" formControlName="telefone" mask="(00) 00000-0000" />
      <div class="mensagem-erro" *ngIf="form.get('telefone')?.invalid && form.get('telefone')?.touched">
        <span *ngIf="form.get('telefone')?.errors?.['required']">Telefone é obrigatório.</span>
        <span *ngIf="form.get('telefone')?.errors?.['pattern']">Formato de telefone inválido.</span>
      </div>
    </label>

    <div class="linha-form">
      <label class="metade">País:
        <input type="text" formControlName="pais" readonly />
      </label>
      <label class="metade">CEP:
        <input type="text" formControlName="cep" (blur)="buscarEndereco()" mask="00000-000" />
        <div class="mensagem-erro" *ngIf="form.get('cep')?.invalid && form.get('cep')?.touched">
          <span *ngIf="form.get('cep')?.errors?.['required']">CEP é obrigatório.</span>
          <span *ngIf="form.get('cep')?.errors?.['pattern']">Formato inválido.</span>
          <span *ngIf="form.get('cep')?.errors?.['cepInvalido']">Digite um CEP válido.</span>
        </div>
      </label>
    </div>

     <div class="linha-form">
      <label class="terco">Estado:
        <input type="text" formControlName="estado" readonly />
      </label>
      <label class="terco">Cidade:
        <input type="text" formControlName="cidade" readonly />
      </label>
      <label class="terco">Bairro:
        <input type="text" formControlName="bairro" readonly />
      </label>
    </div>

    <div class="linha-form">
      <label class="grande">Rua:
        <input type="text" formControlName="rua" readonly />
      </label>
      <label class="pequeno">Número:
        <input type="text" inputmode="numeric" formControlName="numero" (keydown)="permitirSomenteNumeros($event)" />
        <div class="mensagem-erro" *ngIf="form.get('numero')?.invalid && form.get('numero')?.touched">
          <span *ngIf="form.get('numero')?.errors?.['required']">Número é obrigatório.</span>
          <span *ngIf="form.get('numero')?.errors?.['pattern']">Deve conter apenas números.</span>
        </div>
      </label>
    </div>

    <label>Senha:
      <input type="password" autocomplete="new-password" formControlName="senha" />
      <div class="mensagem-erro" *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched">
        <span *ngIf="form.get('senha')?.errors?.['required']">Senha é obrigatória.</span>
        <span *ngIf="form.get('senha')?.errors?.['minlength']">Senha deve ter ao menos 6 caracteres.</span>
      </div>
    </label>

    <label>Confirmar Senha:
      <input type="password" autocomplete="new-password" formControlName="confirmarSenha" />
      <div class="mensagem-erro" *ngIf="form.get('confirmarSenha')?.touched && form.errors?.['senhasDiferentes']">
        As senhas não coincidem.
      </div>
    </label>

    <button type="submit" [disabled]="form.invalid" class="btn-cadastrar">Cadastrar</button>
  </form>

  <div class="login-redirect">
    <p>Já possui cadastro?<br />
      <a routerLink="/login" class="btn-link">ENTRAR</a>
    </p>
  </div>
</div>

<app-footer />

<app-modal-mensagem
  (fechado)="onModalFechado()">
</app-modal-mensagem>
